button{
  width: 100px;
  height: 100px;
  background-color: #aaa;
  margin-right: 10px;
  border: none;
}

button:hover {
  background-color: #656262;
}

.image {
  background-color: white;
  background-image: url("../../../public/cards.png");
}